.card-body a {
  word-break: break-all;
}

.jumbotron {
  background-color: #20315A; 
  color: white;
}

li {
  color: black;
  list-style: none;
  border: 1px #dee2e6 solid;
  padding: 10px;
  margin: 2px;
}

a:hover {
  text-decoration: none;
}
#myDIV {
  width: 100%;
  /* height: 400px; 
  border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}

button1 {
  height: 20px;
  width: 100px;
}
